<div class="col-8 offset-2">
  <div class="bg-light pt-4 pb-4 rounded border mb-3 text-center">
    つなげるメモ帳へようこそ！
  </div>
  <div class="bg-light pt-4 pb-4 rounded border mb-3 text-center">
    登録がお済の方
    <%= link_to "ログイン", login_path %>
  </div>
  <div class="bg-light pt-4 pb-4 rounded border mb-3 text-center">
    登録がお済でない方
    <%= link_to "新規登録", signup_path %>
  </div>
</div>
